html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: pink;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 7fr;
}

.header {
    background-color: #fff;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 3fr 1fr;
}

.sidebar {
    
    background-color: skyblue;
    grid-column: 1/2;
    grid-row: 1/3;
}

.dashWrapper {
    background-color: gray;
    grid-column: 2/3;
    grid-row: 2/3;
}